<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vunh.recycler_hilt_clean_clean">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.vunh.recycler_hilt_clean.BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyclerHiltClean"
        tools:targetApi="31">
        <activity
            android:name="com.vunh.recycler_hilt_clean.view.RecyclerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vunh.recycler_hilt_clean.view.CreateMovieActivity"/>
        <activity android:name="com.vunh.recycler_hilt_clean.view.DetailMovieActivity"/>
    </application>

</manifest>